<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clark.mapper.AddressMapper">

    <select id="getAddresses" resultType="Address">
        select * from address
    </select>

    <select id="getAddressById" resultType="Address">
        select * from address
        where id = #{id}
    </select>

    <select id="getAddressByPostcode" resultType="Address">
        select * from address
        where postcode = #{postcode}
    </select>

    <insert id="addAddress" parameterType="Address">
        insert into address(unit,street,city,province,postcode)
        values (#{unit},
                #{street},
                #{city},
                #{province},
                #{postcode})
    </insert>

    <update id="updateAddress" parameterType="Address" >
        update address
        set unit=#{unit},
            street=#{street},
            city=#{city},
            province=#{province},
            postcode=#{postcode}
        where id=#{id}
    </update>

    <delete id="deleteAddress" parameterType="int">
        delete from address
        where id=#{id}
    </delete>
</mapper>