<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clark.mapper.AuthorityMapper">

    <select id="getAuthorities" resultType="Authority">
        select * from authority
    </select>

    <select id="getAuthorityById" resultType="Authority">
        select * from authority
        where id = #{id}
    </select>

    <select id="getAuthorityByName" resultType="Authority">
        select * from authority
        where name = #{name}
    </select>

<!--    <select id="getAuthoritiesByUsername" resultType="Authority">-->
<!--        SELECT a.id, a.name, a.description-->
<!--            FROM authority a-->
<!--            LEFT JOIN role_authority ra ON a.id = ra.authorityid-->
<!--            LEFT JOIN ROLE r ON r.id = ra.roleid-->
<!--            LEFT JOIN USER u ON u.roleid = r.id-->
<!--            WHERE u.username = #{username};-->
<!--    </select>-->

    <insert id="addAuthority" parameterType="Authority">
        insert into authority(name,description)
        values (#{name},
                #{description})

    </insert>

    <update id="updateAuthority" parameterType="Authority" >
        update authority
        set name=#{name},
            description=#{description}
        where id=#{id}
    </update>

    <delete id="deleteAuthority" parameterType="int">
        delete from authority
        where id=#{id}
    </delete>


</mapper>