<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clark.mapper.RoleMapper">

    <select id="getRoles" resultType="Role">
        select * from role
    </select>

    <select id="getRoleById" resultType="Role">
        select * from role
        where id = #{id}
    </select>

    <select id="getRoleByName" resultType="Role">
        select * from role
        where name = #{name}
    </select>

    <select id="getRolesExceptById" resultType="Role">
        select * from role
        where id != #{id}
    </select>

    <insert id="addRole" parameterType="Role">
        insert into role(name,description)
        values (#{name},
                #{description})

    </insert>

    <update id="updateRole" parameterType="Role" >
        update role
        set name=#{name},
            description=#{description}
        where id=#{id}
    </update>

    <delete id="deleteRole" parameterType="int">
        delete from role
        where id=#{id}
    </delete>


</mapper>