<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clark.mapper.RoleAuthorityMapper">

    <select id="getRoleAuthorities" resultType="RoleAuthority">
        select * from role_authority
    </select>

    <select id="getRoleAuthorityByRoleId" resultType="RoleAuthority">
        select * from role_authority
        where roleid = #{roleId}
    </select>

    <select id="getRoleAuthorityByRoleIdAndAuthorityId" resultType="RoleAuthority">
        select * from role_authority
        where roleid = #{roleId} and authorityid = #{authorityId}
    </select>

    <insert id="addRoleAuthority" parameterType="RoleAuthority">
        insert into role_authority(roleid,authorityid)
        values (#{roleid},
                #{authorityid})

    </insert>

    <update id="updateRoleAuthority" parameterType="RoleAuthority" >
        update role_authority
        set roleid=#{roleid},
            authorityid=#{authorityid}
        where roleid = #{roleid} and authorityid = #{authorityid}
    </update>

    <delete id="deleteRoleAuthority">
        delete from role_authority
        where roleid = #{roleId} and authorityid = #{authorityId}
    </delete>

</mapper>